<% provide(:title, "All Ads")%>

<h1>All Ads</h1>


<%= will_paginate %>
<table>
  <thead>
    <tr>
	<th> Name </th>
	<th> Price </th>
	<th> Url img </th>
	<th colspan ="3"/>
    </tr>
  </thead>


<tbody>
<ul class="ads">
  <% @ads.each do |ad| %>
    <tr>
      <td><%= link_to ad.name, ad %></td>
      <td><%= ad.price %></td>
      <td><%= ad.url_img %> </td>
      <td><%= image_tag avatar_url(ad, 50) %></td>
      <td><%= link_to 'Show', ad %></td>
     <% if logged_in? %>
      <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
      <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     <% end %>   
</tr>
  <% end %>
</ul>
</tbody>
</table>
<%= will_paginate %>
<br/><br/>
<%= link_to 'New Ad', new_ad_path %>
