<% provide(:title, @ad.name)%>


<p>
  <strong>Name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @ad.seller_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ad.email %>
</p>

<p>
  <strong>Image:</strong> 
  <%= image_tag avatar_url(@ad, 200) %>
</p>

<p>
  <strong> Image url:</strong>
  <%= @ad.url_img %>
</p>


<%if logged_in? %>
	<%= link_to 'Edit', edit_ad_path(@ad) %> |
<% end %>

<%= link_to 'Back', ads_path %>
